.Signup-container {
    width: 400px;
    height: 500px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #cccccc;
    margin: 100px auto;
    padding: 20px;
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    .Signup-container {
        max-width: 90%;
    }
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #61caed;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #4aa6c1;
}